BatSemantico.zip
APLICATIVO_BonetPeinado_delaFuente.zip
Testing/analizadorLexico.pyc
Testing/contexto.pyc
Testing/.vscode/.ropeproject/config.py
Testing/.vscode/.ropeproject/objectdb
.idea/vcs.xml
.idea/CeI.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/libraries/R_User_Library.xml
Testing/tabla.pyc
BatSemantico/*
Pgm_Ejemplo/*
.directory
